@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff6464;
  --secondary-color: #ff4444;
}

/* General */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* remove the watermark 'undefined' issue */

.fp-watermark {
  display: none !important;
}